;; jump_yona Tempus File ;;


;; Move tele up ;;

modify:
{
    match:
    {
        "classname" "info_teleport_destination"
        "targetname" "jump6"
    }
    replace:
    {
        "origin" "12928 13760 -7481"
    }
}

;; Remove all doors ;;

filter:
{
    "classname" "func_door"
}

;; remove overheals ;;

filter:
{
    "OnStartTouch" "!activator,AddOutput,health 500,0,-1"
}


;; Add warning BG4 text ;; 

;add:
;{
;	"model" "*241"
;    "OnTouching" "warn,Display,,0,-1"
;    "OnEndTouch" "warn,Display,,0,-1"
;    "StartDisabled" "0"
;    "classname" "trigger_multiple"
;    "origin" "-9088 15040 -14075"
;    "spawnflags" "1"
;    "wait" "1"
;}
;{
;    "channel" "1"
;    "classname" "game_text"
 ;   "color" "255 255 255"
;    "color2" "255 255 255"
;    "fadein" "0"
;    "fadeout" "0.5"
;    "fxtime" "0.25"
;    "holdtime" "6"
;    "message" "Runs on Tempus CANNOT be submitted to Beginnings 4 due to zoning differences!"
;    "origin" "-9088 15040 -14090"
;    "spawnflags" "0"
;    "targetname" "warn"
;    "x" "-1"
;    "y" "0.25"
;}