;; jump_sohrTempus File ;;


;; Jump 10 ;;
;; Fix first floor teles ;;
add:
{
    "StartDisabled" "0"
    "classname" "trigger_teleport"
    "model" "*82"
    "origin" "1106 -688 2914.5"
    "spawnflags" "1"
    "target" "10"
}
{
    "StartDisabled" "0"
    "classname" "trigger_teleport"
    "model" "*82"
    "origin" "1106 -514 2914.5"
    "spawnflags" "1"
    "target" "10"
}


;; End lasers ;;

add:
{
    "classname" "info_target"
    "origin" "1375.5 1567.5 2910.5"
    "targetname" "t1"
}
{
    "classname" "info_target"
    "origin" "800.5 1567.5 2910.5"
    "targetname" "t2"
}
{
    "classname" "info_target"
    "origin" "800.5 -159.5 2910.5"
    "targetname" "t3"
}
{
    "classname" "info_target"
    "origin" "1375.5 -159.5 2910.5"
    "targetname" "t4"
}
{
    "classname" "info_target"
    "origin" "1375.5 1567.5 2335.5"
    "targetname" "b1"
}
{
    "classname" "info_target"
    "origin" "800.5 1567.5 2335.5"
    "targetname" "b2"
}
{
    "classname" "info_target"
    "origin" "800.5 -159.5 2335.5"
    "targetname" "b3"
}
{
    "classname" "info_target"
    "origin" "1375.5 -159.5 2335.5"
    "targetname" "b4"
}
{
    "BoltWidth" "4"
    "LightningEnd" "t2"
    "LightningStart" "t1"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt1t2"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "t3"
    "LightningStart" "t2"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt2t3"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "t4"
    "LightningStart" "t3"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt3t4"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "t1"
    "LightningStart" "t4"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt4t1"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b2"
    "LightningStart" "b1"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamb1b2"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b3"
    "LightningStart" "b2"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamb2b3"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b4"
    "LightningStart" "b3"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamb3b4"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b1"
    "LightningStart" "b4"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamb4b1"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b1"
    "LightningStart" "t1"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt1b1"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b2"
    "LightningStart" "t2"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt2b2"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b3"
    "LightningStart" "t3"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt3b3"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}
{
    "BoltWidth" "4"
    "LightningEnd" "b4"
    "LightningStart" "t4"
    "StrikeTime" "0"
    "TextureScroll" "0"
    "classname" "env_beam"
    "life" "0"
    "origin" "0 0 0"
    "rendercolor" "50 255 150"
    "spawnflags" "1"
    "targetname" "beamt4b4"
    "texture" "materials/effects/blueblacklargebeam.vmt"
}