;; jump_speed2 Tempus File ;;

;; Remove level teleporter ;;

filter:
{
    "classname" "filter_activator_name"
}

;; Class filter ;;

add:
{
    "Negated" "1"
    "classname" "filter_tf_class"
    "origin" "1228 -3314 3713"
    "targetname" "possible4solly"
    "tfclass" "3"
}

;; Remove Jump 12 message for soldier ;;

modify:
{
    match:
    {
    	"classname" "trigger_multiple"
    	"hammerid" "9733"
    }
   insert:
   {
       "filtername" "possible4solly"
   }
}
