;; jump_vertuosic_rc6 Tempus File ;;


;; removing demo overheal ;;

modify:
{
match:
{
"targetname" "p1relay_c_demo"
}
insert:
{
"OnTrigger" "p1cond,AddOutput,targetname p1,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p2relay_c_demo"
}
insert:
{
"OnTrigger" "p2cond,AddOutput,targetname p2,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p3relay_c_demo"
}
insert:
{
"OnTrigger" "p3cond,AddOutput,targetname p3,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p4relay_c_demo"
}
insert:
{
"OnTrigger" "p4cond,AddOutput,targetname p4,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p5relay_c_demo"
}
insert:
{
"OnTrigger" "p5cond,AddOutput,targetname p5,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p6relay_c_demo"
}
insert:
{
"OnTrigger" "p6cond,AddOutput,targetname p6,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p7relay_c_demo"
}
insert:
{
"OnTrigger" "p7cond,AddOutput,targetname p7,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p8relay_c_demo"
}
insert:
{
"OnTrigger" "p8cond,AddOutput,targetname p8,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p9relay_c_demo"
}
insert:
{
"OnTrigger" "p9cond,AddOutput,targetname p9,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p10relay_c_demo"
}
insert:
{
"OnTrigger" "p10cond,AddOutput,targetname p10,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p11relay_c_demo"
}
insert:
{
"OnTrigger" "p11cond,AddOutput,targetname p11,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p12relay_c_demo"
}
insert:
{
"OnTrigger" "p12cond,AddOutput,targetname p12,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p13relay_c_demo"
}
insert:
{
"OnTrigger" "p13cond,AddOutput,targetname p13,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p14relay_c_demo"
}
insert:
{
"OnTrigger" "p14cond,AddOutput,targetname p14,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p15relay_c_demo"
}
insert:
{
"OnTrigger" "p15cond,AddOutput,targetname p15,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p16relay_c_demo"
}
insert:
{
"OnTrigger" "p16cond,AddOutput,targetname p16,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p17relay_c_demo"
}
insert:
{
"OnTrigger" "p17cond,AddOutput,targetname p17,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p18relay_c_demo"
}
insert:
{
"OnTrigger" "p18cond,AddOutput,targetname p18,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p19relay_c_demo"
}
insert:
{
"OnTrigger" "p19cond,AddOutput,targetname p19,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p20relay_c_demo"
}
insert:
{
"OnTrigger" "p20cond,AddOutput,targetname p20,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p21relay_c_demo"
}
insert:
{
"OnTrigger" "p21cond,AddOutput,targetname p21,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p22relay_c_demo"
}
insert:
{
"OnTrigger" "p22cond,AddOutput,targetname p22,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p23relay_c_demo"
}
insert:
{
"OnTrigger" "p23cond,AddOutput,targetname p23,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}
 
modify:
{
match:
{
"targetname" "p24relay_c_demo"
}
insert:
{
"OnTrigger" "p24cond,AddOutput,targetname p24,0,-1"
"OnTrigger" "condition_trigger_remove,Enable,,0.01,-1"
"OnTrigger" "condition_trigger_remove,Disable,,0.02,-1"
}
}

;; gorge fix ;;

modify:
{
	match:
	{
		"targetname" "game_playerleave"
	}
	insert:
	{
		"OnUseLocked" "p_s_*,Disable,,0.25,-1"
	}
}

;; gorge fix 2 ;;

modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p1relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p1relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p2relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p2relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p3relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p3relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p4relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p4relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p5relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p5relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p6relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p6relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p7relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p7relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p8relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p8relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p9relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p9relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p10relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p10relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p11relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p11relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p12relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p12relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p13relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p13relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p14relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p14relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p15relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p15relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p16relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p16relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p17relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p17relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p18relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p18relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p19relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p19relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p20relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p20relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p21relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p21relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p22relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p22relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p23relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p23relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p24relay_c_demo"
}
replace:
{
"StartDisabled" "0"
}
}
 
modify:
{
match:
{
"classname" "logic_relay"
"targetname" "p24relay_c_soldier"
}
replace:
{
"StartDisabled" "0"
}
}

;;add tele inside walls on b1 to avoid teleporting inside and falling to the end
add:
{
	"classname" "trigger_teleport"
	"origin" "12416 -10752 412"
	"spawnflags" "1"
	"StartDisabled" "0"
	"target" "B1"
	"targetname" "b1tele1"
	"TeamNum" "0"
}

add:
{
	"classname" "logic_auto"
	"spawnflags" "1"
	"targetname" "logicatuo"
	"origin" "10832 -11232 8688"
    "OnMapSpawn" "b1tele1,AddOutput,solid 2,0.5,1"
    "OnMapSpawn" "b1tele1,AddOutput,mins -2048 -128 -9152,1,1"
    "OnMapSpawn" "b1tele1,AddOutput,maxs 2048 128 9152,1,1"
    "OnMapSpawn" "b1tele2,AddOutput,solid 2,0.5,1"
    "OnMapSpawn" "b1tele2,AddOutput,mins -128 -2048 -9152,1,1"
    "OnMapSpawn" "b1tele2,AddOutput,maxs 128 2048 9152,1,1"
    "OnMapSpawn" "b1tele3,AddOutput,solid 2,0.5,1"
    "OnMapSpawn" "b1tele3,AddOutput,mins -2048 -128 -9152,1,1"
    "OnMapSpawn" "b1tele3,AddOutput,maxs 2048 128 9152,1,1"
    "OnMapSpawn" "b1tele4,AddOutput,solid 2,0.5,1"
    "OnMapSpawn" "b1tele4,AddOutput,mins -128 -2048 -9152,1,1"
    "OnMapSpawn" "b1tele4,AddOutput,maxs 128 2048 9152,1,1"
}

add:
{
	"classname" "trigger_teleport"
	"origin" "10496 -12672 412"
	"spawnflags" "1"
	"StartDisabled" "0"
	"target" "B1"
	"targetname" "b1tele2"
	"TeamNum" "0"
}

add:
{
	"classname" "trigger_teleport"
	"origin" "12416 -14592 412"
	"spawnflags" "1"
	"StartDisabled" "0"
	"target" "B1"
	"targetname" "b1tele3"
	"TeamNum" "0"
}

add:
{
	"classname" "trigger_teleport"
	"origin" "14336 -12672 412"
	"spawnflags" "1"
	"StartDisabled" "0"
	"target" "B1"
	"targetname" "b1tele4"
	"TeamNum" "0"
}